<div class="container">
  <div  [hidden]="submitted">
    <h2>insert Your Budget and find the best offers on the web</h2>
    <form *ngIf="active" (ngSubmit)="onSubmit()" #budgetForm="ngForm">
      <div class="form-group">
        <label for="budget">Budget</label>
        <input type="text" class="form-control" required
          [(ngModel)]="model.value"
            name="budget"  #budget="ngModel">
        <div [hidden]="budget.valid || budget.pristine" class="alert alert-danger">
          budget is required
        </div>
      </div>

      <div class="form-group">
        <label for="currency">Currency</label>
        <select class="form-control" required
          [(ngModel)]="model.currency"
            name="currency" #currency="ngModel" >
          <option *ngFor="let curr of currencies" [value]="curr">{{curr}}</option>
        </select>
        <div [hidden]="currency.valid || currency.pristine" class="alert alert-danger">
          Currency is required
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!budgetForm.form.valid">Submit</button>

      <button type="button" class="btn btn-default" (click)="newBudget()">Reset</button>

     <!-- todo: remove -->
      <div>
        <hr>
        Budget via form.controls = {{showFormControls(budgetForm)}}
      </div>
     <!-- - -->
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>searching to best fit your budget...{{ model.value }} {{model.currency}}</h2>
    <br>
    <button class="btn btn-default" (click)="onEdit()">&lt; Change Budget</button>
  </div>
</div>


