<nav [hidden]="!submitted" class="navbar  navbar-fixed-top navbar-custom">
    <div class="container">
      <div class="navbar-header">
        <span class="navbar-brand">
          myBudget
        </span>
      </div>
       <span class="navbar-text navbar-right current-value">{{message}}: {{calcCurrentValue()|currency:'EUR':true:'1.2-2'}}</span>
       <button type="button" class="btn btn-default navbar-btn navbar-right" (click)="onEdit()">&lt; Cambio Budget</button>
    </div>
  </nav>


<div class="container top-margin ">
  <div  [hidden]="submitted" class="row">
    <div class="col-md-2 col-xs-1"><!--Column left--></div>
    <div class="col-md-8 col-xs-10">
      <div class="hidden-sm hidden-lg hidden-md">Oggi voglio spendere</div>
      <form class="form-inline" *ngIf="active" #budgetForm="ngForm">
        <div class="form-group">
          <label class="sr-only" for="budget">Budget (in EUR)</label>
          <div class="input-group">
            <div class="input-group-addon"><span class="hidden-xs">Voglio spendere</span></div>
            <input autofocus type="number" class="form-control" id="budget" placeholder="Budget" required [(ngModel)]="model.value" name="budget"  #budget="ngModel">
            <div class="input-group-addon">{{model.currency}}</div>
          </div>
        </div>
  

          <button type="button" class="btn btn-success" (click)="onSubmit(undefined)" [disabled]="!budgetForm.form.valid"><span class="glyphicon glyphicon-search"></span> Mi sento fortunato</button>
          <button type="button" class="btn btn-success" (click)="onSubmit(undefined)" [disabled]="!budgetForm.form.valid"><span class="glyphicon glyphicon-star-empty"></span> Solo Offerte</button>
          <!--button type="button" class="btn btn-default" (click)="onReset()">Reset</button-->

      </form>
    </div>
    <div class="col-md-2 col-xs-1"><!--Column right--></div>
  </div> <!-- main form -->


  <div [hidden]="!submitted" class="well well-sm">
        <div class="btn-group">
            <button id="list" class="btn btn-default btn-sm" (click)="listView = true;"><span class="glyphicon glyphicon-th-list"></span> List</button> 
            <button id="grid" class="btn btn-default btn-sm" (click)="listView = false;"><span class="glyphicon glyphicon-th"></span> Grid</button>
        </div>
        <label class="pull-right">
            <input type="checkbox" name="forceDel"  [(ngModel)]="model.forceDel"> elimina senza conferma
        </label>
    </div> <!-- toolbar -->
     <div [hidden]="!submitted" id="products" class="row list-group" >
       <div [ngClass]="{'item':true,'list-group-item':listView,'grid-group-item':!listView, 'col-xs-6':true,'col-md-4':true,'col-lg-3':true}" *ngFor="let myItem of list">
            <div class="thumbnail">
                <img class="group list-group-image" src="{{myItem.imgUrl}}" alt="" />
                <div class="caption" *ngIf="myItem.deleting">
                    <h3 class="group inner list-group-item-heading alert-danger">{{myItem.name}} was removed from your basket!</h3>  
                    <div class="input-group number-spinner lead">
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-danger" (click)="onDelConfirmBtn(myItem.sku,true)">Confirm</button>
                              </span>
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-success" (click)="onDelConfirmBtn(myItem.sku,false)">Revert</button>
                              </span>
                            </div>
                </div>
                <div class="caption" *ngIf="!myItem.deleting">
                    <h4 class="group inner list-group-item-heading">{{myItem.name}}</h4>
                    <p class="group inner list-group-item-text">{{myItem.description | slice:0:100}}...</p>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <p class="lead">{{myItem.price | currency:'EUR':true:'1.2-2'}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                     
                            <div class="input-group number-spinner lead">
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-success" (click)="onQtyBtn(myItem.sku,-1)"><b>-</b></button>
                              </span>
                              <input type="number" class="form-control text-center" [(ngModel)]="myItem.qty" (ngModelChange)="onQtyChange(myItem.sku,$event)">
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-success" (click)="onQtyBtn(myItem.sku,1)"><b>+</b></button>
                              </span>
                            </div>
                        
                        </div>
                        <div class="col-xs-6">                            
                          <div class="btn-group">
                            <button id="similar" [ngClass]="{'btn':true,'btn-sm':true,'btn-default':model.similar[myItem.sku]!==similarity.Love,'btn-success':model.similar[myItem.sku]===similarity.Love}" (click)="onSimilar(myItem.sku,true)"><span class="glyphicon glyphicon-heart"></span></button> 
                            <button id="similar" [ngClass]="{'btn':true,'btn-sm':true,'btn-default':model.similar[myItem.sku]!==similarity.Hate,'btn-danger':model.similar[myItem.sku]===similarity.Hate}" (click)="onSimilar(myItem.sku,false)"><span class="glyphicon glyphicon-ban-circle"></span></button>
                          </div>
                        </div>
                        <div class="col-xs-3">                            
                          <div class="btn-group">
                            <button id="delete" class="btn btn-default btn-sm" (click)="onDelete(myItem.sku)"><span class="glyphicon glyphicon-trash"></span></button> 
                         </div>
                        </div>
                        <div class="col-xs-3">                            
                          <div class="btn-group">
                            <button id="pin" [ngClass]="{'btn':true,'btn-sm':true,'btn-default':!model.pin[myItem.sku],'btn-success':model.pin[myItem.sku]}" (click)="onPin(myItem.sku)"><span class="glyphicon glyphicon-pushpin"></span></button> 
                         </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>


</div>


