<nav class="navbar navbar-default navbar-fixed-top well navbar-col">
    <div class="container">
       <a href="#" class="navbar-brand">Budget = {{diagnostic}}</a>
       <p class="navbar-text navbar-right">{{message}}: {{getValue()|currency:'EUR':true:'1.2-2'}}</p>
    </div>
  </nav>

<div class="container top-margin">
  <div  [hidden]="submitted">
    <form class="form-inline" *ngIf="active" (ngSubmit)="onSubmit()" #budgetForm="ngForm">
      <div class="form-group">
        <label class="sr-only" for="budget">Amount (in EUR)</label>
        <div class="input-group">
          <div class="input-group-addon">My budget is</div>
          <input type="number" class="form-control" id="budget" placeholder="Amount" required [(ngModel)]="model.value" name="budget"  #budget="ngModel">
          <div class="input-group-addon">{{model.currency}}</div>
        </div>
      </div>
 
       <button type="submit" class="btn btn-success" [disabled]="!budgetForm.form.valid">Submit</button>
       <button type="button" class="btn btn-default" (click)="onReset()">Reset</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>searching to best fit your budget...{{ model.value }} {{model.currency}}</h2>
    <br>
    <button class="btn btn-default" (click)="onEdit()">&lt; Change Budget</button>
  </div>




  <div class="well well-sm">
        <div class="btn-group">
            <button id="list" class="btn btn-default btn-sm" (click)="listView = true;"><span class="glyphicon glyphicon-th-list"></span> List</button> 
            <button id="grid" class="btn btn-default btn-sm" (click)="listView = false;"><span class="glyphicon glyphicon-th"></span> Grid</button>
        </div>
        <label class="pull-right">
            <input type="checkbox" name="forceDel"  [(ngModel)]="model.forceDel"> Immediate delete
        </label>
    </div>
     <div id="products" class="row list-group" >
       <div [ngClass]="{'item':true,'list-group-item':listView,'grid-group-item':!listView, 'col-xs-6':true,'col-md-4':true,'col-lg-3':true}" *ngFor="let myItem of list">
            <div class="thumbnail">
                <img class="group list-group-image" src="{{myItem.imgUrl}}" alt="" />
                <div class="caption" *ngIf="myItem.deleting">
                    <h3 class="group inner list-group-item-heading alert-danger">{{myItem.name}} was removed from your basket!</h3>  
                    <div class="input-group number-spinner lead">
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-danger" (click)="onDelConfirmBtn(myItem.sku,true)">Confirm</button>
                              </span>
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-success" (click)="onDelConfirmBtn(myItem.sku,false)">Revert</button>
                              </span>
                            </div>
                </div>
                <div class="caption" *ngIf="!myItem.deleting">
                    <h4 class="group inner list-group-item-heading">{{myItem.name}}</h4>
                    <p class="group inner list-group-item-text">{{myItem.description | slice:0:100}}...</p>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <p class="lead">{{myItem.price | currency:'EUR':true:'1.2-2'}}</p>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                     
                            <div class="input-group number-spinner lead">
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-success" (click)="onQtyBtn(myItem.sku,-1)"><b>-</b></button>
                              </span>
                              <input type="number" class="form-control text-center" [(ngModel)]="myItem.qty" (ngModelChange)="onQtyChange(myItem.sku,$event)">
                              <span class="input-group-btn">
                                <button class="btn btn-default btn-success" (click)="onQtyBtn(myItem.sku,1)"><b>+</b></button>
                              </span>
                            </div>
                        
                        </div>
                        <div class="col-xs-6">                            
                          <div class="btn-group">
                            <button id="similar" [ngClass]="{'btn':true,'btn-sm':true,'btn-default':!model.similar[myItem.sku],'btn-success':model.similar[myItem.sku]}" (click)="onSimilar(myItem.sku,true)"><span class="glyphicon glyphicon-heart"></span></button> 
                            <button id="similar" [ngClass]="{'btn':true,'btn-sm':true,'btn-default':model.similar[myItem.sku],'btn-danger':!model.similar[myItem.sku]}" (click)="onSimilar(myItem.sku,false)"><span class="glyphicon glyphicon-ban-circle"></span></button>
                          </div>
                        </div>
                        <div class="col-xs-3">                            
                          <div class="btn-group">
                            <button id="delete" class="btn btn-default btn-sm" (click)="onDelete(myItem.sku)"><span class="glyphicon glyphicon-trash"></span></button> 
                         </div>
                        </div>
                        <div class="col-xs-3">                            
                          <div class="btn-group">
                            <button id="pin" [ngClass]="{'btn':true,'btn-sm':true,'btn-default':!model.pin[myItem.sku],'btn-success':model.pin[myItem.sku]}" (click)="onPin(myItem.sku)"><span class="glyphicon glyphicon-pushpin"></span></button> 
                         </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>


</div>


