<div class="container">
  <div  [hidden]="submitted">
    <form class="form-inline" *ngIf="active" (ngSubmit)="onSubmit()" #budgetForm="ngForm">
      <div class="form-group">
        <label class="sr-only" for="budget">Amount (in USD)</label>
        <div class="input-group">
          <div class="input-group-addon">My budget is</div>
          <input type="text" class="form-control" id="budget" placeholder="Amount" required [(ngModel)]="model.value" name="budget"  #budget="ngModel">
          <div class="input-group-addon">{{model.currency}}</div>
        </div>
      </div>
 
       <button type="submit" class="btn btn-success" [disabled]="!budgetForm.form.valid">Submit</button>
       <button type="button" class="btn btn-default" (click)="onReset()">Reset</button>
    </form>

<!--
      <div class="form-group">
        <label for="currency">Currency</label>
        <select class="form-control" required
          [(ngModel)]="model.currency"
            name="currency" #currency="ngModel" >
          <option *ngFor="let curr of currencies" [value]="curr">{{curr}}</option>
        </select>
        <div [hidden]="currency.valid || currency.pristine" class="alert alert-danger">
          Currency is required
        </div>
      </div>
    -->
  </div>

  <div [hidden]="!submitted">
    <h2>searching to best fit your budget...{{ model.value }} {{model.currency}}</h2>
    <br>
    <button class="btn btn-default" (click)="onEdit()">&lt; Change Budget</button>
  </div>

<br>
       Budget = {{diagnostic}}

  <hr/>
  <div>{{message}}:<br/>{{getValue()|currency:'EUR':true:'1.2-2'}}
        <br/>
        <table class="table table-striped table-hover">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let myItem of list">   
                <td>{{myItem.id}}</td>             
                <td>{{myItem.name}}</td>
                <td>{{myItem.price}} {{myItem.currency}}</td>
                <td><input [(ngModel)]="myItem.qty" (ngModelChange)="onQtyChange(myItem.id,$event)" name="qty" id="qty" required></td>
                <td>{{myItem.description}}</td>
                <td>{{getDiagnostic(myItem)}}
                     <div class="btn-group-vertical btn-group-xs">
                      <button type="button" class="btn btn-primary" (click)="onSimilar(myItem.id,'A')">avoid</button>
                      <button type="button" class="btn btn-primary" (click)="onSimilar(myItem.id,'F')">agree</button>
                      <button type="button" class="btn btn-primary" (click)="onDelete(myItem.id)">remove</button>
                    </div>

                </td>
            </tr>
        </table>
    </div>
</div>


